@import '../../assets/sass/colors';

.feed {
  position: relative;

  .posts-display {
    margin: auto auto;
    padding: 5px 20px;
  }

  .post-column {
    display: flex;
    justify-content: center;
  }

  .posts-container {
    margin-bottom: 100px;
    /* Adjust this value as needed to create space above the footer */
  }
}