@import '../../assets/sass/colors';

.feed {
  // padding: 20px;
  position: relative;
  
  // .options {
  //   background-color: $theme-yellow;
  //   text-align: right;
  //   padding: 10px;
  //   border-bottom-left-radius: 15px;
  //   border-bottom-right-radius: 15px;
  //   border-bottom: 2px solid $theme-purple;

  //   & > * {
  //     margin: 0 3px;
  //     height: 30px;
  //   }
  // }

  .posts-display {
    margin: auto auto;
    padding: 5px 20px;
    // max-height: 600px;
    // overflow-y: auto;
    // align-items: center;
  }

  .post-column {
    display: flex;
    justify-content: center;
  }

  .posts-container {
    margin-bottom: 100px; /* Adjust this value as needed to create space above the footer */
  }

  // .add-post {
  //   position: absolute;
  //   bottom: 120px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   z-index: 2;
  // }

}