@import '../../assets/sass/colors';

.header {
  display: flex;
  justify-content: space-between;
  background-color: $theme-black;
  color: $theme-yellow;
  padding: 10px 20px;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  .back-btn {
    cursor: pointer;
    margin: 0 5px;
  }

  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid $orangish-yellow;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 0;
    font-weight: 700;
  }

  .options {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>* {
      margin: 0 3px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}