@import '../../../assets/sass/colors.scss';

.post {
  margin: 5px 3px;

  .card-user-info {
    display: flex;
    align-items: center;
    background-color: $theme-black;
    color: white;
    font-weight: 700;

    img {
      height: 30px;
      width: 30px;
      border-radius: 100%;
      margin-right: 5px;
      border: 2.5px solid #fba512;
      object-fit: cover;
    }

    a {
      color: $theme-yellow;
      text-decoration: none;
      margin-bottom: 0;
    }

    .card {
      position: static;
    }
  }

  .card-title-container {
    display: flex;
    justify-content: space-between;
  }

  .card-title {
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
    /* Google Font by Bonnie Shaver-Troup, Thomas Jockin, Santiago Orozco, Héctor Gómez, Superunion */
  }

  .trash-icon,
  .edit-icon {
    cursor: pointer;
    margin: 2px;
  }

  .card-text {
    white-space: pre-line;
    text-align: left;
  }

  .img-container {
    img {
      max-width: 100%;
      border-radius: 10px;
      max-height: 250px;
      object-fit: contain;
      margin-bottom: 10px;
    }
  }

  .card-footer {
    background-color: #fcf7e8;
  }
}