@import '../../assets/sass/colors.scss';

.sidebar {
  padding: 10px;
  background-color: #2e475d;

  img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
  }

  p {
    background-color: $light-color;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 30px;
    margin-top: 20px;
  }

  .button {
    display: inline-block;
    padding: .55rem 1.2rem;
    width: 170px;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color;
      border-radius: 10rem;
      z-index: -2;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken($color, 15%);
      transition: all .3s;
      border-radius: 10rem;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}