@import '../../assets/sass/colors.scss';

.sidebar {
  padding: 10px;
  padding-left: 0;
  width: 270px;
  background-color: white;
  position: fixed;
  top: 70px;
  left: 0;
  bottom: 0;

  .pfp-container,
  .username-container,
  .btn-container {
    background-color: $light-yellow;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 5px;
  }

  .username-container,
  .btn-container {
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .profile {
    padding: 10px;
    padding-left: 0;
  }

  img {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border: 3px black solid;
    object-fit: cover;
  }

  .username-container:hover {
    background-color: $light-color;
  }

  .btn-container {
    justify-content: center;
    color: black;
    font-weight: 700;
    text-decoration: none;
  }

  .btn-container:hover {
    background-color: $light-color;
  }

  .button {
    border: none;
  }

  p {
    width: 100%;
    margin: 0;
    font-weight: 700;
  }
}