@import '../../assets/sass/colors';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $theme-yellow;
  padding: 10px;
  background-color: #192733;
  width: 100%;
  height: 55px;
  font-weight: 700;
  position: relative;
  transition: bottom 0.5s;

  p {
    margin: 0;
  }

  a,
  button {
    color: $theme-yellow;
    font-weight: 700;
    text-decoration: none;
    font-size: small;

    &:hover {
      color: $orangish-yellow;
    }
  }
}