@import '../../assets/sass/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
// import for Outfit font added: @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Outfit:wght@100..900&display=swap');

.login,
.signup,
.verify-email,
.forgot-password,
.update-profile,
.update-login,
.settings {
  padding: 0 10px;
  padding-bottom: 60px;
}

.auth-card {
  margin: 0 auto;
  margin-top: 60px;
  max-width: 27rem;
  padding: 10px;
  padding-top: 20px;
  background-color: $light-color;
}

.auth-card .card-title {
  text-align: center;
  font-size: 2.3rem;
}

.auth-card img {
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 100%;
  object-fit: cover;
}

.auth-card .btn {
  border-radius: 10rem;
}

.update-login .auth-card {
  label {
    font-weight: 600;
  }
}

.cancel-button a {
  color: $theme-black;

  &:hover {
    color: darken($theme-black, 55%);
    font-weight: 700;
  }
}

.login a,
.signup a,
.forgot-password a {
  color: $theme-black;
  font-weight: 700;

  &:hover {
    color: $orangish-yellow;
  }
}

.row {
  --bs-gutter-x: 0rem;
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
  padding-left: 230px;
  padding-top: 80px;
}

.button {
  display: inline-block;
  padding: .55rem 1rem; // .55rem 1.2rem
  font-weight: 700;
  width: 100%;
  color: black;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration: none;
  border: 1px solid $theme-black;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light-yellow;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($light-yellow, 15%);
    transition: all .3s;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

.delete-button {
  &:before {
    background-color: #dc3545;
  }
}

.add-button-container {
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 240px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    position: static;
  }

  .sidebar {
    position: static;
    width: 100%;
  }

  .main-content {
    padding-left: 0;
    padding-top: 0;
  }
}